<div id="sidebar">
		
	<script type="text/javascript" src="http://widgets.twimg.com/j/2/widget.js"></script>

	<script type="text/javascript">
		new TWTR.Widget({
		  version: 2,
		  type: 'profile',
		  rpp: 4,
		  interval: 6000,
		  width: 250,
		  height: 300,
		  theme: {
		    shell: {
		      background: '#666666',
		      color: '#ffffff'
		    },
		    tweets: {
		      background: '#333333',
		      color: '#ffffff',
		      links: '#fbff00'
		    }
		  },
		  features: {
		    scrollbar: false,
		    loop: false,
		    live: false,
		    hashtags: true,
		    timestamp: true,
		    avatars: false,
		    behavior: 'all'
		  }
		}).render().setUser('dbuthay').start();
	</script>

</div><!-- /sidebar -->
