<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>&#9998; {{ page.title }}</title>

		<link rel="shortcut icon" href="/favicon.ico" />

		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="robots" content="index, follow" />
		<meta name="keywords" content="{{ page.keywords }}" />
		<meta name="description" content="{{ page.description }}" />
		<meta name="author" content="dbuthay" />

		<link href="/stylesheets/reset.css" media="screen" rel="stylesheet" type="text/css" />
		<link href="/stylesheets/styles.css" media="screen" rel="stylesheet" type="text/css" />

	</head>
	<body id="{{ page.body_id }}">
		{% include google_analytics.html %}

		<div id="header">
			<div class="bubble">
				
			</div><!-- /bubble -->
		</div><!-- /header -->
		
		{% include header_navigation.html %}
		<div id="canvas">
			<div class="bubble">				
				<div id="sidebar">
						
					<h2>About</h2>
					<ul class="sidebar_links">
						<li><a href="/about">dbuthay</a></li>
						<li><a href="#diego_buthay">Diego Buthay</a></li>
					</ul><!-- /sidebar_links -->
		
					<br /><br />
	
					<h2>Contact</h2>
					<p>
						Want to get in touch? <a href="#contact">Drop us a line</a>.<br />
						Want to know what mischief we are up to right now? <a href="http://twitter.com/dbuthay">Follow me on Twitter</a>.
					</p>
				</div><!-- /sidebar -->
				<div id="shared_content">
					
					{{ content }}

				</div><!-- /shared_content -->
			</div><!-- /bubble -->
		</div><!-- /canvas -->
		
		{% include footer.html %}
	</body>
</html>
